<div class="coachCSS">
<div class="container p-4">
    <div class="row">
        {{#each Entrenadores}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                      <p id="nombre">Nombre del Entrenador</p>  <h3 class="card-title text-uppercase">
                            {{fullname}}
                        </h3>
                      <p id="tipo">Especialidad</p>
                    <h4 class="m-2">{{specialty}}</h4>
                    <p id="unidad">Horas de Trabajo</p>
                    <h4 class="m-2">{{workTime}}</h4>
                    <p id="cantidad">Hora de Entrada</p>
                    <h4 class="m-2">{{startTime}}</h4>
                    <p class="text-muted">
                        {{timeago created_at}}
                    </p>
                    <a class="btn btn-danger" href="/linksCoaches/deleteCoach/{{id}}">
                        Eliminar Entrenador
                    </a>
                    <a class="btn btn-secondary" href="/linksCoaches/editCoach/{{id}}">
                        Editar Entrenador
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No Tiene Registrado Entrenadores.</p>
                <a href="/linksCoaches/addCoach">¡Introduzca Uno!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>