<div class="clienteCSS">
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-body">
            <form action="/links/edit/{{link.id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="fullname" class="form-control" placeholder="Nombre completo" value="{{link.fullname}}">
                        </div>
                        <div class="form-group">
                            <input type="number" name="ci" rows="2" class="form-control" placeholder="Cédula" value="{{link.ci}}">
                        </div>
                        <div class="form-group">
                            <input type="number" name="telephone" rows="2" class="form-control" placeholder="Teléfono" value="{{link.telephone}}">
                        </div>
                        <div class="form-group">
                            <input type="type" name="homeAddress" class="form-control" placeholder="Dirección Domiciliaria" value="{{link.homeAddress}}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="exercise" class="form-control" placeholder="Actividad" value="{{link.exercise}}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="attendanceTime" class="form-control" placeholder="Tiempo de Asistencia" value="{{link.attendanceTime}}">
                        </div>
                        <div class="form-group">
                            <input type="time" name="hour" class="form-control" placeholder="Horas de Asistencia" value="{{link.hour}}">
                        </div>
                        <div class="form-group">
                            <input type="decimal" name="payment" class="form-control" placeholder="Pago" value="{{link.payment}}">
                        </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>