<div class="clienteCSS">
<div class="container p-4">
    <div class="row">
        {{#each Clientes}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                      <p id="nombre">Nombre del Cliente</p>  <h3 class="card-title text-uppercase">
                            {{fullname}}
                        </h3>
                      <p id="tipo">Actividad</p>
                    <h4 class="m-2">{{exercise}}</h4>
                    <p id="unidad">Tiempo de Asistencia</p>
                    <h4 class="m-2">{{attendanceTime}}</h4>
                    <p id="cantidad">Horas Asistencia</p>
                    <h4 class="m-2">{{hour}}</h4>
                    <p id="pago">Pago</p>
                    <h4 class="m-2">{{payment}}</h4>
                    <p class="text-muted">
                        {{timeago created_at}}
                    </p>
                    <a class="btn btn-danger" href="/links/delete/{{id}}">
                        Eliminar Cliente
                    </a>
                    <a class="btn btn-secondary" href="/links/edit/{{id}}">
                        Editar Cliente
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No Tiene Registrado Clientes.</p>
                <a href="/links/add">¡Introduzca Uno!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>